Repository benbenbang/poetry-import-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: triage, enhancement, tests, workflows, documentation

.github/labeler.yml:

triage:
  - changed-files:
      - any-glob-to-any-file: "**/*"

enhancement:
  - changed-files:
      - any-glob-to-any-file:
          - "commaond.py"
          - "poetry_import/**/*"

tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - ".releaserc.json"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - "**/*.md"
          - "docs/**/*.md"
          - "docs/mkdocs.yml"

feat(poetry/v2)!: implement v2 compatible api
  command.py
  poetry.lock
  poetry_import/backport.py
  pyproject.toml
  tests/fixtures/tmp_project.py
  tests/test_command.py
Labels: triage, enhancement, tests

feat(poetry/v2)!: implement v2 compatible api (#25)
  command.py
  poetry.lock
  poetry_import/backport.py
  pyproject.toml
  tests/fixtures/tmp_project.py
  tests/test_command.py
Labels: triage, enhancement, tests

Notes added by 'git notes add'
  3fb3b6af4feac4ed8a97d604d512ed1080f55f30
Labels: triage

fix(workflows): add missing arg in sr
  .github/workflows/release.yml
Labels: triage, workflows

fix(workflows): add missing arg in sr (#27)
  .github/workflows/release.yml
Labels: triage, workflows

Notes added by 'git notes add'
  cb86f58d54768018cac5b57bebeb9fcec30e77c8
Labels: triage

fix(workflows): drop build too many times
  .github/workflows/release.yml
Labels: triage, workflows

fix(workflows): drop build too many times (#28)
  .github/workflows/release.yml
Labels: triage, workflows

Notes added by 'git notes add'
  08de0b5b367983ca728bb3dfdbfc5dd17a3398eb
Labels: triage

fix(import): address several issues about the signatures
  makefile
  poetry_import/backport.py
  poetry_import/command.py
  tests/fixtures/pyproject.toml
  tests/fixtures/requirements.txt
  tests/test_command.py
Labels: triage, enhancement, tests

fix(import): address several issues about the signatures (#29)
  makefile
  poetry_import/backport.py
  poetry_import/command.py
  tests/fixtures/pyproject.toml
  tests/fixtures/requirements.txt
  tests/test_command.py
Labels: triage, enhancement, tests

Notes added by 'git notes add'
  891a0ed6adc1d1d1acc29f83bc816080c0874959
Labels: triage
